<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Automobile Database</h1>
<div class="form-modal">

    <div class="form-toggle">
        <button id="man-toggle" onclick="toggleMan()">Testing Department</button>
        <button id="dep-toggle" onclick="toggleDep()">Audit Department</button>
    </div>

    <div id="man-form">
        <form id="manform">
            <input type="text" id="manPrivKey" placeholder="Enter private key" />
            <table>
                        <tr>
                            <td><input id="ProNumbMan" type="text" placeholder="Enter Product Number"/></td>
                            <td><input id="ProCode" type="text" placeholder="Enter Product Number"/></td>
                        </tr>
                        <tr>
                            <td><input id="m&m" type="text" placeholder="M & M"/></td>
                            <td><input id="dom" type="text" onfocus="(this.type='date')" placeholder="Date of Observation"/></td>
                        </tr>
            </table>
            <button type="button" onclick="addProductAsTested(event)" class="btn login">Add New Product Data</button>
            
        </form>

    </div>

    <div id="dep-form">
        <form id="depform">
            <input id="regPrivKey"type="email" placeholder="Enter private key" />
            <table>
                        <tr>
                            <td><input id="ProNumbMan" type="text" placeholder="Enter Product Number"/></td>
                            <td><input id="OwnName" type="text" placeholder="Engineer Name"/></td>
                        </tr>
                        <tr>
                            <td><input id="address" type="text" placeholder="Remarks"/></td>
                            <td><input id="dor" type="text" onfocus="(this.type='date')" placeholder="Date of Auditing"/></td>
                        </tr>
                        <tr>
                            <td><input id="manName" list="labs" type="text" placeholder="Labs Name"/></label>
                        <datalist id="labs">
                        <option value="Mumbai">
                        <option value="Bangalore">
                        <option value="Kochi">
                        <option value="Chennai">
                        </datalist></td>
                            <td><input id="numAudit" type="text" placeholder="Audit Number"/></td>
                        </tr>
                    </table>
            <button type="button" onclick="addProductAsAudit(event)" class="btn signup">Conduct Audit</button>
            
        </form>
    </div> 
   
    <a class="nav-link" id="list" href="/listProducts"><h3>List Product Details</h3> </a>

</div>


<script>
    function toggleDep() {
        document.getElementById('manform').reset();
        document.getElementById("man-toggle").style.backgroundColor = "#fff";
        document.getElementById("man-toggle").style.color = "#222";
        document.getElementById("dep-toggle").style.backgroundColor = "#33cc99";
        document.getElementById("dep-toggle").style.color = "#fff";
        document.getElementById("man-form").style.display = "none";
        document.getElementById("dep-form").style.display = "block";
    }

    function toggleMan() {
        document.getElementById('depform').reset();
        document.getElementById("man-toggle").style.backgroundColor = "#33cc99";
        document.getElementById("man-toggle").style.color = "#fff";
        document.getElementById("dep-toggle").style.backgroundColor = "#fff";
        document.getElementById("dep-toggle").style.color = "#222";
        document.getElementById("dep-form").style.display = "none";
        document.getElementById("man-form").style.display = "block";
    }

</script>
<script src='/javascripts/main.js'></script>