<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Vehicle Details</h1>

<a class="nav-link" id="home" href="/homePage">Home </a>

<br><br>
    <table id="productDetails">
      <tr>
        <th>Product Number</th>
        <th>Product Code</th>
        <th>Model</th>
        <th>Date of Testing</th>
        <th>Status</th>
        <th>Idea Owner</th>
        <th>Address</th>
        <th>Date of Audit</th>
        <th>Audit Code</th>
      </tr>
      {{#listings}}
      <tr class="">
        <td>{{ProNum}}</td>
        <td>{{codeNo}}</td>
        <td>{{model}}</td>
        <td>{{dom}}</td>
        <td>{{status}}</td>
        <td>{{engineer}}</td>
        <td>{{address}}</td>
        <td>{{dor}}</td>
        <td>{{numberAudit}}</td>
      </tr>
      {{/listings}}
    </table>